#ball {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: red;
}

#color-picker {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: lightgray;
    border: none;
    outline: none;
}