/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e32; /* Une couleur uniforme de fond sans dégradé */
  font-family: 'Inter', sans-serif;
  padding: 20px;
}

h1, p {
  margin: 0;
  font-weight: 400;
  color: #e0e0e0;
}

/* Home Button Styles */
.home-button {
  position: fixed;
  top: 30px;
  left: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #e0e0e0;
  border: 2px solid #e0e0e0;
  padding: 12px 25px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.home-button:hover {
  background-color: #1e1e2f;
  color: #ffffff;
  border-color: #4285f4;
  cursor: pointer;
  transform: translateY(-4px);
}

.home-button:active {
  transform: translateY(2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

/* Title and Paragraph */
h1 {
  font-size: 40px;  /* Augmenté pour plus de visibilité */
  font-weight: 700; /* Mis en gras */
  text-align: center;
  margin-top: 100px;
}

p {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  color: #d1d1d1;
  line-height: 1.5;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* List Style */
ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Quatre éléments par ligne */
  gap: 20px;
  justify-items: center;
  margin-top: 40px;
  list-style-type: none;
}

li {
  width: 100%;  /* Permet aux boutons de s'adapter correctement à la largeur */
}

li a {
  display: block;
  background-color: rgba(30, 30, 50, 0.9); /* Fond plus sombre avec transparence */
  color: #e0e0e0; /* Couleur claire pour le texte */
  text-decoration: none;
  border: 2px solid #444444;  /* Bordure plus subtile et contrastée */
  padding: 15px 30px; /* Taille des boutons */
  border-radius: 50px;  /* Forme arrondie */
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  width: 100%;
}

li a:hover {
  background-color: #0072ff; /* Couleur vive pour le survol */
  color: white; /* Texte en blanc sur survol */
  cursor: pointer;
  transform: scale(1.05); /* Légère agrandissement au survol */
}

li a:active {
  transform: translateY(3px);  /* Effet de pression */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

li a:focus {
  outline: none;
  border: 2px solid #4285f4; /* Légère bordure bleue pour le focus */
}



/* Mobile Responsiveness */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 28px;
    margin-top: 60px;
  }

  p {
    font-size: 16px;
    max-width: 90%;
  }

  ul {
    grid-template-columns: 1fr 1fr;
  }

  li a {
    padding: 15px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  ul {
    grid-template-columns: 1fr;
  }
}
