@import url("https://fonts.googleapis.com/css2?family=Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4FAAF4;
}

:where(.container, form, .input-field, header) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fff;
  padding: 35px 65px 50px 65px;
  border-radius: 20px;
  row-gap: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.container header{
  height: 150px;
  width: 150px;
  background-image: url('images/image.gif');
  background-size: cover;
  background-position: center;
}

.container h4 {
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
}

.container p {
  max-width: 250px;
  text-align: center;
  font-size: 13px;
  transition: 0.5s ease;
}

.container p a {
  color: #4FAAF4;
  text-decoration: none;
}

.container p a:hover {
  text-decoration: underline;
}

form .input-field {
  flex-direction: row;
  column-gap: 10px;
}

form .input-field input {
  height: 50px;
  width: 43px;
  border-radius: 13px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}

form .input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

form .input-field input::-webkit-inner-spin-button,
form .input-field input::-webkit-outer-spin-button {
  display: none;
}

form button{
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 15px;
  pointer-events: none;
  background: #4FAAF4;
  opacity: .5;
  transition: all 0.2s ease;
}

form button.active {
  opacity: 1;
  pointer-events: auto;
}

form button:hover {
  background: #287ED4;
}

.container p.receiving{
  position: absolute;
  bottom: 270px;
  opacity: 0;
  color: rgb(0, 219, 0);
  transition: 0.5s ease;
}