@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.otf');
  }
  
  body {
      background-color: #141414;
      color: #fff;
      font-family: 'BebasNeue', sans-serif;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    overflow: hidden;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* changed from center */
    height: 30%; /* changed from 20% */
  }
  
  .title {
    text-align: center;
    color: #e50914;
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-shadow: 0px 2px 5px rgba(255, 255, 255, 0.2);
    margin: 0;
    margin-bottom: 50px; /* added margin to move title lower */
    justify-content: flex-end; /* added to align with header */
    transform: skew(-20deg); /* curved effect*/
  }
  
  
  .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50%;
  }
  
  .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .button {
    font-family: 'BebasNeue', sans-serif;
      background-color: transparent;
      color: #fff;
      font-size: 25px;
      padding: 20px 50px;
      margin: 10px;
      border: 2px solid #fff;
      border-radius: 50px;
      box-shadow: 0px 5px 15px rgba(255,255,255,0.1);
      transition: all 0.3s ease;
      text-transform: uppercase;
      letter-spacing: 2px;
  }
  
  .button:hover {
      background-color: #fff;
      color: #1e1e1e;
      cursor: pointer;
      box-shadow: 0px 5px 15px rgba(255,255,255,0.3);
      transform: translateY(-5px);
  }
  
  a.home-button {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    display: inline-block;
  }
  
  a.home-button:hover {
      background: linear-gradient(to right, #ff0000, #9c0000);
      color: white;
      box-shadow: 0px 0px 20px 0px #e6e6e6;
      transform: translateY(-5px);
      cursor: pointer;
  }
  
  a.home-button:active {
    transform: translateY(3px);
    box-shadow: 0 3px white;
  }
  
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
}

.modal-content {
  background-color: #313131;
  position: absolute; /* to remove if I use "margin: 10% auto;" */
  transform: translate(-50%, -50%); /* to remove if I use "margin: 10% auto;" */
  top: 50%; /* to remove if I use "margin: 10% auto;" */
  left: 50%; /* to remove if I use "margin: 10% auto;" */
  color: #ffffff;
  /* margin: 10% auto; */
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
  text-align: center;
  font-size: 25px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.titleMovie{ /* see in javascript file */
    text-decoration: underline;
    color: #e50914;
}

.movie{
    font-size: 30px;
}

.toggle {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 20px;
    right: 20px;
  }

  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #e50914;
  }

  input:checked + .slider:before {
    content: "";
    transform: translateX(26px);
  }

.toggle p{
    text-align: center;
}