*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0075ff;
}

.container{
    background-color: #ffffff;
    padding: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 80vmin;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(2, 42, 83, 0.2);
}

.result{
    padding: 150px 0;
}

#element{
    height: 50px;
    width: 50px;
    position: relative;
    background-color: #0075ff;
    margin: auto;
}

.sliders{
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 20px 15px;
}

.slider-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type="range"] {
    width: 100%;
}

.code-wrapper{
    display: grid;
    grid-template-columns: 10fr 2fr;
    gap: 5px;
    margin-top: 20px;
}

textarea{
    resize: none;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.code-wrapper button{
    background-color: #0075ff;
    border-radius: 5px;
    border: none;
    color: #ffffff;
}
