body{
    background: #0c0c0c;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

svg > *{
    stroke: none;
}

p{
    display: none;
}